name: Bun

on:
  workflow_call:
    inputs:
      bun-version:
        description: 'Bun version to use'
        required: false
        type: string
        default: 'latest'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ inputs.bun-version }}
      - name: Install dependencies
        run: bun install
      - name: Lint
        run: bun run lint --if-present
      - name: Build
        run: bun run build --if-present
      - name: Run tests
        run: bun test
