name: Rust

on:
  workflow_call:
    inputs:
      submodules:
        description: 'Enable git submodules checkout'
        required: false
        type: boolean
        default: false

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: ${{ inputs.submodules }}
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
