name: Publish to crates.io

on:
  workflow_call:
    inputs:
      package:
        description: "Package name to publish"
        required: false
        type: string
    secrets:
      CARGO_REGISTRY_TOKEN:
        description: "Cargo registry token for publishing"
        required: true

env:
  CARGO_TERM_COLOR: always

jobs:
  publish:
    name: Build, Test & Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build
        run: cargo build --release --verbose
      - name: Test
        run: cargo test --verbose
      - name: Publish to crates.io
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: cargo publish ${{ inputs.package && format('-p {0}', inputs.package) || '' }}
